@mixin emptyDashboardText {
  width: 100%;
  height: 100vh;
  padding: 10vh 20vw;
  display: flex;
  margin: 2em 0;
  p {
    font-size: 2em;
    text-align: center;
  }
}

@mixin navLinkTextFormatting {
  padding: 0 .35em;
  font-size: 1.5em;
  text-decoration: none;
}

@mixin textCenter() {

}

@mixin imageWrapper {
  overflow: hidden;
  object-fit: cover;
}

@mixin flexDir($direction) {
  display: flex;
  flex-direction: $direction;
}

// @mixin flexCenter($direction) {
//   height: 100vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: $direction;
// }

@mixin header($background) {
  height: 10vh;
  display: flex;
  width: 100%;
  background-color: $background;
  flex:1;
  align-items: center;
}

@mixin hoverLink($color, $bgColor) {
  cursor: pointer;
  color: $color;
  transition: all .35s ease-in-out;
  &:hover {
    background-color: $bgColor;
  }
}

@mixin svgIcon($color, $fillColor) {
  cursor: pointer;
  height: 3em;
  width: auto;
  fill: $color;
  transition: all .35s ease-in-out;
  &:hover {
    fill: $fillColor;
  }

}

@mixin sidebar-full-width() {
  min-width: 20em;
  max-width: 20em;
  color: $sidebarText;
  // height: 100%;
  flex:1;
  background-color: $themeGray;
}



// @mixin flexCenter($direction) {
//   height: 100vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: $direction;
// }
