@mixin emptyDashboardText {
  width: 100%;
  height: 100vh;
  padding: 10vh 20vw;
  display: flex;
  margin: 2em 0;
  p {
    font-size: 2em;
    text-align: center;
  }
}

@mixin navLinkTextFormatting {
  padding: 0 .35em;
  font-size: 1.5em;
  text-decoration: none;
}

@mixin flexAround {
  display: flex;
  justify-content: space-around;
}

@mixin bookingText {
  font-size: 1em;
  line-height: 1.8em;
  font-weight: 200;
}

@mixin toolText() {
  display: flex;
  font-size: 1em;
  line-height: 1.3em;
}

@mixin mainTextResponseSizeH2 {
  @media screen {
    padding-bottom: 1em;
    font-size: 4em;
    font-weight: 700;
  }

  @media screen and (max-width: 992px) {
    font-size: 2em;
    font-weight: 700;
    line-height: normal;
  }

  @media screen and (max-width: 600px) {
    font-size: 1.5em;
    font-weight: 700;
    line-height: normal;
  }
}

@mixin mainTextResponseSizeP {
  @media screen {
    font-size: 1.3em;
    line-height: 1.8em;
    font-weight: 200;
  }

  @media screen and (max-width: 992px) {
    font-size: 1.2em;
    line-height: 1.4em;
    font-weight: 200;
  }

  @media screen and (max-width: 600px) {
    font-size: 1em;
    line-height: 1.4em;
    font-weight: 200;
  }
}


@mixin mainImageResponseSize {
  @media screen {
    width: 100%;
    min-width: 350px;
    position: relative;
  }

  @media screen and (max-width: 992px) {
    min-width: 300px;
  }

  @media screen and (max-width: 600px) {
    min-width: 150px;
  }
}

@mixin imageWrapper {
  overflow: hidden;
  object-fit: cover;
}

@mixin flexDir($direction) {
  display: flex;
  flex-direction: $direction;
}

@mixin header($background) {
  height: 10vh;
  display: flex;
  width: 100%;
  background-color: $background;
  flex:1;
  align-items: center;
}

@mixin hoverLink($color, $bgColor) {
  cursor: pointer;
  color: $color;
  transition: all .35s ease-in-out;
  &:hover {
    background-color: $bgColor;
  }
}

@mixin svgIcon($color, $fillColor) {
  cursor: pointer;
  height: 3em;
  width: auto;
  fill: $color;
  transition: all .35s ease-in-out;
  &:hover {
    fill: $fillColor;
  }

}

@mixin sidebar-full-width() {
  min-width: 20em;
  max-width: 20em;
  color: $sidebarText;
  flex:1;
  background-color: $themeGray;
}

@mixin sidebar-tablet {
  box-shadow: none;
  color: $sidebarText;
  flex:1;
  background-color: $themeGray;
}
