/* This is an example of using Sass, otherwise plain CSS works too*/
@import './vars';
@import './mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Poppins', sans-serif;
  background: $primary-background;
  margin: 0;
  width: 100%;
  margin: 0px;
  display: flex;
  // height: 100vh;
}


body {
  flex-direction: row;
  // height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
}

#main_header {
  @include header(white);
  box-shadow: -11px -3px 20px 0px black;
  padding: 0 3em;
  color: $headerText;
  .profile-container {
  }
  svg {
    @include svgIcon($headerText, $themeBlue);
    opacity: 1;
  }
  nav {
    flex:1;
  }
  .profile-container {
    display: flex;
    flex:1;
  }
}

//OVERFLOW SCROLLING
.dashboard_view {
  overflow-y: scroll;
  height: 90vh;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
  display: none;
  }
}

.dashboard_view-logged_in {
  overflow-y: scroll;
  height: 80vh;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
  display: none;
  }
}

//TODO make sure doesn't mess with styling
#main-content {
  width: 100%;
  height: 100vh;
}

.booking-toolbar {
  @include header(#00504c17);
  // opacity: 0.17;
  display: flex;
  justify-content: space-around;
  padding: 0 2em;
  color: $themeGray;
  width: 100%;
  div:nth-child(1) {
    display: flex;
    font-size: 1em;
    line-height: 1.3em;
    padding: 0 2em;
    // flex:1;
  }
  div:nth-child(2) {
    display: flex;
    font-size: 1em;
    line-height: 1.3em;
    // flex:1;
  }
  div:nth-child(3) {
    display: flex;
    font-size: 1em;
    line-height: 1.3em;
    flex:1;
    // font-size: .7em;     for font above input
    // line-height: 1.3em;
    // form {
    //   @include flexDir(column);
    //   padding-top: 10px;
    //   label {
    //     padding-bottom: 5px;
    //   }
    // }
  }
  div:nth-child(4) {
    height: 2em;
    border-radius: 3px;
    border: 1px solid $themeGray;
    display: flex;
    flex-direction: column;
    margin-right: 3em;
    padding: 1em;
    font-size: 1.3em;
    justify-content: center;
    // line-height: 2em;
    transition: all ease-in-out .2s;
    cursor: pointer;
    // flex:1;
    &:hover {
      font-size: 1.3em;
      background-color: $themeBlue;
      color: white;
    }
  }
}

.toolbar-input {
  padding-left: 2.7em;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 1em;
  border: none;
  color: $themeGray;
  background-color: #00504c00;
  border-bottom: 1px solid black;
}

.toolbar_text {
  @include navLinkTextFormatting;
}

.toolbar_input {
  &:hover {
    cursor: pointer!important;
  }
}

.nav-links {
  display: flex;
  justify-content: space-around;
  list-style: none;
  .nav-link {
    @include hoverLink($headerText, $themeBlue);
    @include navLinkTextFormatting;
  }
}

.active_nav {
  background-color: $themeBlue;
  color: white!important;
  font-weight: 700;
}

// .hero-image {
//   background-image: url(../images/hotel-rooftop.jpg);
//   height: 524px;
//   transform: translateY(44px);
// }

.login {
  @include flexDir(column)
  backdrop-filter: blur(3px);
  box-shadow: 0 0 15px #000000a1;
  // border: .1px solid $themeGray;
  color: $themeGray;
  height: content;
  width: content;
  position: absolute;
  top: 3em;
  left: 3em;
  padding: 2em;
  border-radius: 5px;
  // background-color: $themeGray;
  transition: all ease-in-out .3s;
  div {
    @include flexDir(column);
    padding-bottom: .5em;
    p {
      padding: 1em 0;
    }
  }
}

.hero-container {
  // background-color: aliceblue;
}
.main-intro {
  display: flex;
}

.main_card {
  display: flex;
  margin: 2em 0;
  align-items: center;
}

.main_image-wrapper {
  @include imageWrapper
}

.main_image {
  width: 100%;
  min-width: 350px;
  position: relative;
}

.main_card-text-wrapper {
  padding: 2em;
  min-width: 50%;
  h2 {
    padding-bottom: 1em;
    font-size: 4em;
    font-weight: 700;
  }
  p {
    font-size: 1.3em;
    line-height: 1.8em;
    font-weight: 200;
  }
  div {
    width: content;
    height: 1em;
    transition: all ease-in-out .5s;
    &:hover {
      z-index: 0;
      width: 150px;
      // background-size: 100px 0;
      background-color: $themeBlue;
    }
    .main-card_text-link {
      z-index: 10;
      font-weight: 600;
      cursor: pointer;
      // @include hoverLink(black, $themeBlue);
    }
  }
}

.result_text-wrapper {
  padding: 2em;
  padding-left: 3.3em;
  min-width: 50%;
  h2 {
    // text-decoration: underline;
    padding-bottom: 1em;
    font-size: 2em;
    font-weight: 600;
  }
  p {
    font-size: 1.3em;
    line-height: 1.8em;
    font-weight: 200;
  }
  div {
    display: flex;
    width: content;
    p:nth-child(1) {
      font-size: 2em;
      // line-height: 1.8em;
      font-weight: 500;
    }
    p:nth-child(2) {
      @include flexDir(column)
      justify-content: center;
      margin-left: 1em;
      font-size: .8em;
      line-height: 1.2em;
      font-weight: 300;
    }
  }
  .result_book-room-link {
    text-align: center;
    margin-top: 1em;
    z-index: 10;
    font-weight: 400;
    transition: all ease-in-out .3s;
    width: 15em;
    padding: .5em 1em;
    border-radius: 3px;
    border: 1px solid $themeGray;
    cursor: pointer;
    &:hover {
      background-color: $themeBlue;
      color: white;
    }
  }
}

.main-intro {
  display: flex;
}

.result_card {
  display: flex;
  margin: 2em 0;
  align-items: center;
}

.result_image-wrapper {
  @include imageWrapper
  height: 22em;
  // width:300px;
  // text-align:center;
  // line-height:300px;
  // height:300px;
  // border:solid;
  // margin:2em auto;
  // overflow:visible; /* let's see what we slice off */
}

.result_image {
  width: 100%;
  min-width: 300px;
  // position: relative;
  // position:relative;
  // z-index:-1;
}

.my_booking-text_wrapper {
  @include flexDir(row);
  padding: 2em;
  padding-left: 3.3em;
  min-width: 50%;
  div {
    p:nth-child(1) {
      text-decoration: underline;
      padding-bottom: 1em;
      font-size: 1.2em;
      // font-size: 2em;
      font-weight: 300;
    }
    p:nth-child(2) {
      font-size: 1em;
      line-height: 1.8em;
      font-weight: 200;
    }
    p:nth-child(3) {
      font-size: 1em;
      line-height: 1.8em;
      font-weight: 200;
    }
    p:nth-child(4) {
      padding-bottom: .5em;
      font-size: 1em;
      line-height: 1.8em;
      font-weight: 200;
    }
  }
  div:nth-child(2) {
    padding: 0 1em;
  }
  div:nth-child(3) {
    @include flexDir(column)
    justify-content: center;
    font-weight: 500;
    font-size: 1.6em;
    align-items: center;
    p {
      text-decoration: none;
      color: $themeGray;
    }
    p:nth-child(2) {
      color: $themeGray;
      text-align: center;
      font-weight: 700;
      line-height: 1em;
      padding: 5px;
      border: 1px solid $themeGray;
      border-radius: 3px;
      transition: all ease-in-out .5s;
      &:hover {
        background-color: red;
        color: white;
        cursor: pointer;
      }
    }
  }
}

.main-intro {
  display: flex;
}

.my-booking_card {
  display: flex;
  margin: 2em 0;
  align-items: center;
}

.my-booking_image-wrapper {
  @include imageWrapper
  height: 22em;
  // width:300px;
  // text-align:center;
  // line-height:300px;
  // height:300px;
  // border:solid;
  // margin:2em auto;
  // overflow:visible; /* let's see what we slice off */
}

.my-booking_image {
  width: 100%;
  min-width: 300px;
  // position: relative;
  // position:relative;
  // z-index:-1;
}


#hero-image {
  background-position: 0em -28em;

  background-size: 100%;
  // background-color: transparent;
  border: none;
  height: 15vw;
  width: 100%;
  background-repeat: no-repeat;
  background-image: url(../images/hotel-lobby-mod1.jpg)
}

#sidebar {
  @include sidebar-full-width();
  @include flexDir(column);
  box-shadow: 24px 0px 20px 20px #000000a6;
  height: 100vh;
  #sidebar_hotel-info-block {
    @include flexDir(row);
    justify-content: space-between;
    height: 10em;
    margin-left: 1.5em;
    p {
      margin-top: .5em;
      align-self: center;
      font-size: 1.3em;
      font-weight: 400;
      line-height: 1.3em;
    }
    p:nth-child(2) {
      font-size: 1em;
      font-weight: 100;
      margin-top: .5em;
      align-self: center;
    }
  }
}

.customer_stat_wrapper {
  @extend .manager_stat_wrapper
}

#sidebar_customer_stats {
  @extend #sidebar_manager_stats;
  #customer_stat_title_wrapper {
    @include flexDir(column);
    // justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 2em;
  }
}

.manager_stat_wrapper {
  @include flexDir(row);
  padding: 1.5em 1em;
  justify-content: space-between;
  border-bottom: 1px solid $themeBlue;
  margin: 0 20px;
  p {
    font-weight: 600;
  }
  p:nth-child(2) {
    font-weight: 200;
  }
}

#sidebar_manager_stats {
  @include flexDir(column);
  #manager_stat_title_wrapper {
    @include flexDir(column);
    // justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 2em;
  }
  #manager_stat_customer_total_wrapper {
    border: none;
  }
}

.stat_gold {
  color: gold;
}

.pattern_block {
  align-self: flex-end;
  height: 100%;
  width: 40%;
  color: $themeBlue;
  background: repeating-linear-gradient(
  -60deg,
  $themeBlue,
  $themeBlue 10px,
  $themeGray 10px,
  $themeGray 20px
  );
}

// Dashboard

#manager_welcome-wrapper{
  @include emptyDashboardText;
}

#sorry_message-wrapper {
  @include emptyDashboardText;
}

// Fade In cross browser compatibility

.fade-in-pageLoad {
  animation: longFadeIn ease 3s;
}

@keyframes longFadeIn {
  0% {
    // opacity: .5;
    filter: blur(10px);
  }

  100% {
    // opacity: 1;
    filter: blur(0px);
  }
}

.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: blur(5px);
  }

  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.hidden {
  display: none!important;
}

// Hi there, I've got my login, I'd like to book a room at
// F
// THE OVERLOOKED HOTEL
